
body > div:first-child {
  overflow-x: hidden;
}

body{
  background: linear-gradient(to right, #f5937a, #feb47b, #8eaeeb, #9cebe5);
    height: 100vh;
    margin: 0;
}
/* styles.css */
/* styles.css */

/* General container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Card styling */
.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 2rem 0;
}

/* Image styling */
.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
}

/* Responsive width for large screens */
@media (min-width: 1024px) {
  .card {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Flexbox utility classes */
.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}



.github-section{ 
  background: repeating-linear-gradient(45deg, #30a58c, #3e36aa, #5324a8, #2d8cb8);
}
.greeting-bg{ 
  background: repeating-linear-gradient(45deg,  #30a58c, #3e36aa, #5324a8, #2d8cb8);
}

.gradient-text {
  background: repeating-linear-gradient(45deg, #f3a65f, #cde94e, #e44366, #2d8cb8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 900;
}
.gradient-text2 {
  font-size: 60px;
  font-weight: 900;
}


/* 
body {
  
  background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
  height: 100vh;
  margin: 0;
} */

/* body {
  background: conic-gradient(from 0deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  height: 100vh;
  margin: 0;
} */

/* body {
  background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  height: 100vh;
  margin: 0;
} */


/* body {
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  height: 100vh;
  margin: 0;
} */
/* 
body {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  height: 100vh;
  margin: 0;
} */
/* 
body{
  background-color: rgb(140, 153, 168);
} */